@charset "UTF-8";
/* CSS Document */


.media {
	background-color: rgba(146,104,130,.60);
	padding: 1rem;
	border-radius: 35px;
	padding-left: -10rem;
	margin-left: -2rem;
}

.media-body {
	overflow: hidden;
}

.media-img-stacked {
	float: none;
	margin: 0 auto;
}

p {
	padding-left: 5rem;
}

img {
	padding-left: 5rem;
	
}

h1 {
	padding-left: 5rem;
}