@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	margin-top: 1rem;
	padding: 0.75em 1em;
	background-color: #926882;
	background-image: linear-gradient(to bottom, #926882, #6A4B5E);
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	border: 0;
}

.btn-alt, 
.btn-alt:link,
.btn-alt:visited {
	background-color: #547B77;
	background-image: linear-gradient(to bottom,  #547B77, #315B55);
}