@charset "UTF-8";
/* CSS Document */

/* Responsive Setup */

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/*----------------------------------------------------Bottom */

#navigation, footer {
padding: 0px;
background-color: #926882; 
color: #fff;
text-align: center;
}

footer nav li {
display: inline-block;
zoom: 1;
padding: 10px;
margin-top: -2rem;
max-width: 400px;
}

nav li a {
color: #ccc;
text-decoration: none;
}


@media only screen and (min-width: 30em) {
footer nav li {
display: inline-block;
float: right;
padding: 10px;
margin-top: -1rem;
max-width: 400px;
}
}

footer {	
font-size: 0.9em;
padding: .5rem;
}

.copyright {
font-size: .25rem;
}
/* ----------------------------social media badges */

.icon {
display: inline-block;
width: 25px;
float: left;
margin-right: 6px;
}

.icon li {
margin: 0 .4rem;
display: inline-block;
}