@charset "UTF-8";
/* CSS Document */

.micro {
	list-style-type: circle;
}

img{
	width:100%;
	max-width: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1rem;
}
@media only screen and (min-width: 30em) {

img{
	width:100%;
	max-width: 300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1rem;
}

media-body {
	float: left;
	max-width: 300px;
}
}

